build
bower_components
node_modules
.DS_Store
sandbox/testDir
sandbox/test
test/testDir
sandbox/dir3
sandbox/my-adapt-course
npmignore
.env
.editorconfig
jsconfig.json
nodemon.json
typings
typings.json
sandbox
